.dragged {
	.item {
		opacity: 0.25;
		border-top: 1px solid #999999;
		border-bottom: 1px solid #ffffff;
	}
}
.floating {
	.item {
		background-color: $color_white;
		box-shadow: 0 4px 20px #666666;
	}
}
.dl-item.floating {
	width: 85%;
}
.batch-item {
	background: #fff;
	padding: 20px;
	margin-bottom: 5px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.15);
	box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.15);
	>div {
		float: left;
	}
}
.batch-item.selected-batch {
	background-color: $background_color_2;
	color: $main_color;
}
.batch-slot {
	width: 50px;
	text-align: center;
}
.batch-lot {
	width: 150px;
}
.batch-name {
	width: 120px;
}
.batch-container {
	position: relative;
	width: 100%;
	float: left;
}
.batches-list {
	position: relative;
	float: left;
	width: 50%;
	padding-right: 15px;
	.tools-search {
		input {
			width: calc(100% - 190px);
		}
	}
}
.tools-filter-list {
	position: relative;
	float: left;
	width: 50%;
	padding-left: 15px;
}
.batches-list.show {
	width: 50%;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	-o-transition: width 0.3s;
	transition: width 0.3s;
}
.batches-list.hide {
	width: 100%;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	-o-transition: width 0.3s;
	transition: width 0.3s;
}
div {
	box-sizing: border-box;
}
.batch-items {
	position: relative;
	float: left;
	width: 100%;
}
