.button-interaction {
	button {
		padding: 8px 15px;
		background-color: $color_transparent;
		border: 1px solid #1461a9;
		margin-right: 15px;
		margin-bottom: 15px;
		color: $main_color;
		font-size: 14px;
		-webkit-transition: all 0.35s ease-out;
		-moz-transition: all 0.35s ease-out;
		-o-transition: all 0.35s ease-out;
		-ms-transition: all 0.35s ease-out;
		transition: all 0.35s ease-out;
		&:hover {
			background-color: $main_color;
			color: $color_white;
		}
		svg {
			margin-right: 10px;
		}
	}
	button.disabled {
		&:hover {
			background-color: $color_transparent;
			color: $color_gray;
		}
	}
}
