/* Navbar CSS */
.navbar {
	position: fixed;
	min-height: 50px;
	background-color: $main_color;
	color: $color_white;
	top: 0;
	width: 100%;
	z-index: 99;
}
.navbar-nav {
	float: left;
	margin: 0;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	>li {
		position: relative;
		display: block;
		float: left;
		>a {
			color: $color_beige;
			position: relative;
			display: block;
		}
	}
}
.navbar-collapse {
	float: left;
	position: relative;
	>button {
		padding: 18px 22px;
		top: 0;
		position: relative;
		border: none;
		font-size: 13px;
		background-color: $main_color_darker;
		color: $color_white;
	}
}
.navbar-right {
	position: relative;
	float: right;
}
.navbar-login {
	float: left;
	float: left;
	position: relative;
	position: relative;
	padding: 8px 0;
	svg {
		float: left;
		position: relative;
		position: relative;
		font-size: 18px;
		vertical-align: middle;
		padding: 5px;
		margin-right: 10px;
	}
}
.navbar-login-info {
	float: left;
	position: relative;
	.date {
		opacity: 0.4;
		font-size: 13px;
		margin-top: 3px;
	}
	span {
		float: left;
		position: relative;
		display: block;
		width: 100%;
	}
}
.navbar-info-icons {
	float: left;
	padding: 15px 20px;
	cursor: pointer;
	svg {
		margin-right: 15px;
	}
	svg.inactive {
		opacity: 0.3;
	}
}
a.navbar-brand {
	img {
		height: 25px;
	}
	position: relative;
	top: -5px;
	padding: 0 20px;
}
.navbar-title {
	padding: 15px 0;
	position: relative;
	float: left;
	a {
		color: $color_white;
		text-decoration: none;
		font-size: 18px;
		letter-spacing: 0.5px;
	}
}
