.planning-container {
	position: relative;
	float: left;
	width: 100%;
	background-color: $color_white;
	margin-bottom: 15px;
	padding: 15px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
}
.planing-title {
	span {
		font-size: 13px;
		color: $color_gray_1;
		margin-bottom: 5px;
	}
	h3 {
		font-size: 30px;
		font-weight: 600;
		color: $main_color;
	}
	width: 25%;
}
.planing-details {
	span {
		font-size: 13px;
		color: $color_gray_1;
		margin-bottom: 5px;
	}
	width: 25%;
	float: right;
	h3 {
		font-size: 24px;
		font-weight: 600;
	}
}
.planning-timer {
	width: 50%;
	padding: 10px 50px 0 50px;
	text-align: left;
}
.RSPBprogressBar {
	padding: 15px;
	border-radius: 0 !important;
	background-color: $background_white_2 !important;
}
.RSPBprogression {
	border-radius: 0 !important;
}
.RSPBprogressBarText {
	color: $color_black !important;
	font-size: 13px !important;
	letter-spacing: 0.5px;
}
