ul.sidebar-navigation {
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100vh;
	background: #fff;
	li {
		padding: 15px 15px 15px 10px;
		border-bottom: 1px solid #dfdfdf;
		cursor: pointer;
		color: $color_gray_3;
		.sidebar-submenu-navigation {
			li {
				border-bottom: none;
			}
		}
		>div {
			>span {
				&:last-child {
					float: right;
					font-weight: 100;
					font-size: 11px;
					color: $color_gray_4;
				}
				&:first-child {
					position: relative;
					width: 30px;
					text-align: center;
					float: left;
					margin-right: 5px;
				}
			}
		}
		>span {
			&:last-child {
				float: right;
				font-weight: 100;
				font-size: 11px;
				color: $color_gray_4;
			}
			&:first-child {
				position: relative;
				width: 30px;
				text-align: center;
				float: left;
				margin-right: 5px;
			}
		}
	}
}
.sidebar-submenu-navigation {
	background-color: $color_white_2;
	margin-left: -15px;
	margin-right: -10px;
	list-style-type: none;
	padding-left: 15px;
	top: 15px;
	position: relative;
	left: 5px;
	li {
		display: none;
	}
}
.sidebar-submenu-navigation.show {
	li {
		display: block;
	}
}
ul.sidebar-submenu-navigation {
	li {
		>span {
			color: $color_inherit !important;
			font-size: inherit !important;
		}
	}
}
