$t_color_1: #1461a9;
$t_color_2: #5a5a5a;
$t_color_3: #02aa44;
$t_background_color_1: #f2f2f2;

.tools-filter-list {
	position: relative;
	float: left;
	width: 100%;
}
.tools-search {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 20px;
	label {
		font-weight: 600;
		font-size: 20px;
		margin-right: 15px;
		color: $t_color_1;
	}
	input {
		background: transparent;
		border: 1px solid #ccc;
		padding: 5px;
		font-size: 16px;
		width: calc(100% - 80px);
	}
}
.tool-section {
	position: relative;
	float: left;
	width: 100%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	li {
		width: 100%;
		position: relative;
		float: left;
		display: flex;
		align-items: center;
		background-color: $color_white;
		color: $t_color_2;
		border-bottom: 1px solid #dbdbdb;
	}
}
.tool-icon {
	width: 100px;
	padding: 15px;
	font-size: 16px;
	text-align: center;
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $t_background_color_1;
	svg {
		color: $t_color_3;
		margin-bottom: 10px;
	}
}
.tool-content {
	position: relative;
	float: left;
	padding: 0 15px;
	h6 {
		font-weight: 500;
		margin-bottom: 7px;
	}
}
.tool-class {
	width: 140px;
	position: relative;
	float: left;
}
.example {
	border-left: 1px solid #999999;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-top: 1px solid #999999;
	border-radius: 10px;
	margin: 0px;
	padding: 20px;
}
.dragged {
	.batch-item {
		opacity: 0.25;
		border-top: 1px solid #999999;
		border-bottom: 1px solid #ffffff;
	}
}
.floating {
	.batch-item {
		background-color: $color_white;
		box-shadow: 0 4px 20px #666666;
	}
}
.dl-item.floating {
	width: 85%;
}
.disabled {
	color: $color_gray !important;
	border-color: $color_gray !important;
}
.tools-filter-list.show {
	width: 50%;
	display: initial;
	transform: translate(0);
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	-o-transition: width 0.3s;
	transition: width 0.3s;
}
.tools-filter-list.hide {
	width: 0;
	display: none;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	-o-transition: width 0.3s;
	transition: width 0.3s;
}
