$color_1: #dc3545;
$color_2: #8d8d8d;
$color_white: #ffffff;
$color_black: #000;
$color_light_gray: #fafafa;
$color_transparent: transparent;
$main_color: #1461a9;
$color_gray: gray;
$color_gray_1: #8d8d8d;
$background_color_2: #d0e0ee;
$color_beige: beige;
$main_color_darker: #115797;
$background_white_2: #f1f1f1;
$color_gray_3: #5a5a5a;
$color_gray_4: #bdbdbd;
$color_inherit: inherit;
$color_white_2: #eeeeee;

/*
  Sidebar navigation
*/
/*
  Default CSS
*/
/*
  Responsive

*/
.App {
	margin-top: 50px;
}
.bg-white {
	background-color: $color_white !important;
}
.bg-gray {
	background-color: $color_light_gray !important;
}
.p-10 {
	padding: 10px !important;
}
.p-15 {
	padding: 15px !important;
}
.mb-10 {
	margin-bottom: 10px !important;
}
.push-right {
	float: right !important;
}
.hidden {
	display: none;
}
.error {
	color: $color_1 !important;
}
.planing-title {
	position: relative;
	float: left;
}
.planning-timer {
	position: relative;
	float: left;
}
.planing-details {
	position: relative;
	float: left;
}
.back-mobile {
	display: none;
}

@import './style/reset.scss';
@import './style/tools.scss';
@import './style/batch.scss';
@import './style/nav.scss';
@import './style/sidebar.scss';
@import './style/dashboard.scss';
@import './style/planning.scss';
@import './style/butoni.scss';

@media only screen and (max-width: 1024px) {
	ul.sidebar-navigation {
		display: none;
	}
	.dashboard {
		width: 100%;
		left: 0;
	}
	.batch-lot {
		width: auto;
		margin-right: 25px;
	}
	.batch-name {
		width: auto;
		margin-right: 25px;
	}
}
@media only screen and (max-width: 720px) {
	.navbar-title {
		display: none;
	}
	.navbar-login {
		display: none;
	}
}
@media only screen and (max-width: 576px) {
	.navbar-title {
		display: none;
	}
	.navbar-login {
		display: none;
	}
	ul.sidebar-navigation {
		display: none;
	}
	.dashboard {
		width: 100%;
		left: 0;
	}
	.tools-filter-lis {
		width: 100%;
		display: none;
	}
	.batches-list.show {
		width: 100%;
		display: none;
	}
	.batches-list {
		width: 100%;
		display: block;
		padding-left: 0;
	}
	.tools-filter-list.show {
		width: 100%;
		display: block;
		padding-left: 0;
	}
	.planning-container {
		background-color: $color_transparent;
		box-shadow: none;
		border-bottom: 1px solid #000;
		padding: 0;
		.planing-title {
			width: 100%;
			margin-bottom: 10px;
		}
	}
	.planning-timer {
		width: 100%;
		margin-bottom: 10px;
		padding: 0;
	}
	.planing-details {
		width: 100%;
		margin-bottom: 10px;
		span {
			font-size: 14px;
			color: $color_2;
			margin-bottom: 10px;
			font-weight: 100;
			position: relative;
			float: left;
			width: 100%;
		}
		h3 {
			font-size: 28px;
			line-height: 42px;
		}
	}
	.planing-title {
		span {
			font-size: 14px;
			color: $color_2;
			margin-bottom: 10px;
			font-weight: 100;
			position: relative;
			float: left;
			width: 100%;
		}
		h3 {
			font-size: 28px;
			line-height: 42px;
		}
	}
	.tools-search {
		label {
			font-size: 28px;
			line-height: 42px;
		}
		input {
			width: -webkit-fill-available;
			padding: 10px;
			font-style: italic;
		}
	}
	.button-interaction {
		button {
			span {
				display: none;
			}
			svg {
				margin: 0;
			}
			margin-bottom: 0;
			display: none;
		}
		.updateBtn.hidden {
			margin-bottom: 0;
			display: none;
		}
		position: fixed;
		bottom: 0;
		background-color: $color_white;
		width: 100%;
		text-align: center;
		left: 0;
		padding: 10px;
		z-index: 99;
		.updateBtn {
			display: inline-block;
			float: left;
			&:nth-child(2) {
				float: right;
			}
		}
	}
	.showTool {
		.button-interaction {
			.updateBtn {
				margin-bottom: 0;
				display: none;
			}
		}
		.back-mobile {
			display: initial;
			span {
				display: initial;
				margin-left: 10px;
			}
		}
	}
	.tools-filter-list.hide {
		width: 100%;
	}
}
